{% extends "layout.html" %}
{% block content %}
<div class="mt-2 mb-4">
{% if archived %}
<a href="/events">View new events</a>
{% else %}
<a href="/events?archived=yes">View archived events</a>
{% endif %}
</div>
{% if events %}
    {% for event in events %}
    {% if archived %}
    <div class="flex p-2 mb-8 w-full rounded-lg bg-gray-100 border-l-8 border-gray-300">
    {% else %}
    <div class="flex p-2 mb-8 w-full rounded-lg bg-blue-100 border-l-8 border-blue-300">
    {% endif %}
        <div class="flex-grow">
            <table>
                <tr>
                    <td class="font-bold p-2">Date</td>
                    <td class="p-2">{{ event.datetime }}</td>
                </tr>
                <tr>
                    <td class="font-bold p-2">User</td>
                    <td class="p-2">{% if event.user_contact %}{{ event.user_contact }}{% else %}n/a{% endif %}</td>
                </tr>
                <tr>
                    <td class="font-bold p-2">Event Type</td>
                    <td class="p-2">
                        {% if event.type == "email_sender" or event.type == "email_sender_domain" %}The user received an <b>email</b> from a malicious sender
                        {% elif event.type == "email_link" %}The user received an <b>email</b> containing a malicious link
                        {% elif event.type == "website_visit" %}The user tried to visit a <b>malicious website</b>
                        {% elif event.type == "analysis" %}The user <b>scanned a page</b> that appeared suspicious
                        {% else %}{{ event.type }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="font-bold p-2">Match</td>
                    <td class="p-2 font-mono break-words">{{ event.match }}</td>
                </tr>
                <tr>
                    <td class="font-bold p-2">Indicator</td>
                    <td class="p-2">
                    {% if event.indicator %}
                        <a href="/indicator/{{ event.indicator }}">{{ event.indicator }}</a>
                    {% else %}
                        <a href="/indicators?ioc={{ event.match }}">Add match to indicators</a>
                    {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% if not archived %}<div class="float-right text-5xl"><a title="Archive this event" href="/events/archive?uuid={{ event.uuid }}"><i class="fas fa-check-square"></i></a></div>{% endif %}
    </div>
    {% endfor %}
{% else %}
<p>No new events have been recorded yet.</p>
{% endif %}
{% endblock %}
