{% extends "layout.html" %}
{% block content %}
<a href="/indicators/add/"><i class="fas fa-plus"></i> Add <b>new</b> indicators</a>

<div class="mt-4 mb-4">
{% if disabled %}
    <table class="pd-table-bordered">
        <tr>
            <th><a href="" title="Select all"><i class="far fa-check-square"></i></a></th>
            <th>Date</th>
            <th>Type</th>
            <th>Original</th>
            <th>Hashed</th>
            <th>Tags</th>
            <th>Owner</th>
            <th>Enable</th>
        </tr>
        {% for ioc in disabled %}
        <tr>
            <td><input type="checkbox" /></td>
            <td>{{ ioc.datetime }}</td>
            <td>{{ ioc.type }}</td>
            <td>{{ ioc.original }}</td>
            <td>{{ ioc.hashed }}</td>
            <td>{% if ioc.tags %}{{ ioc.tags }}{% endif %}</td>
            <td>{{ ioc.owner }}</td>
            <td><button class="pd-btn" onClick="location.href='/indicators/enable/{{ ioc.hashed }}/'">Enable</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>There are no disabled indicators to enable.</p>
{% endif %}
</div>
{% endblock %}
