{% extends "layout.html" %}
{% block content %}
{% if error %}
<div class="mb-4 text-red"><b>Error!</b> {{ error }}</div>
{% endif %}
<form method="POST" action="/indicators/add/">
    <div class="mb-4">
        <label for="">Enabled</label>
        <input type="checkbox" name="enabled" />
    </div>
    <div class="mb-4">
        <label for="indicators">List of comma-separated tags (optional):</label><br />
        <input type="text" class="pd-input" name="tags" />
    </div>
    <div class="mb-4">
        <label for="indicators">List of indicators (one per line) <b>*required</b>:</label><br />
        <textarea name="indicators" class="pd-input" rows="15" cols="100">{% if indicators %}{{ indicators }}{% endif %}</textarea>
    </div>
    <div><input type="submit" class="pd-btn" name="submit" value="Send indicators" /></div>
</form>
{% endblock %}
