<!doctype html>
<html>
<head>
<title>PhishDetect Admin</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-grey-lightest text-black">
<div class="p-12 w-full">
    <div class="flex">
        <ul class="list-reset flex mb-8 w-full">
            <li class="mr-6">{% if page == 'Events' %}<span class="text-grey-dark">Events</span>{% else %}<a class="text-blue hover:text-blue-darker no-underline" href="/events">Events</a>{% endif %}</li>
            <li class="mr-6">{% if page == 'Indicators' %}<span class="text-grey-dark">Indicators</span>{% else %}<a class="text-blue hover:text-blue-darker no-underline" href="/indicators">Indicators</a>{% endif %}</li>
        </ul>
        <div class="text-grey-darker">
            <b>Node</b>
            <form method="POST" action="/node">
                <select name="node">
                    {% for node in nodes %}
                    <option>{{ node }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <h1 class="font-normal mb-6"><b>PhishDetect</b> Admin{% if page %} - {{ page }}{% endif %}</h1>

    {% block content %}{% endblock %}
</div>
</body>
</html>
