{% extends "layout.html" %}
{% block content %}
<a href="/users/active/"><i class="fas fa-user-plus"></i> View <b>active</b> users</a>

<div class="mt-4 mb-4">
{% if users %}
    <table class="w-full p-0 m-0">
        <tr>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">Date</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">User name</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">User email</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">API key</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter text-center">Activate</th>
        </tr>
        {% for user in users %}
        <tr>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.datetime }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.name }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.email }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.key }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter text-center"><button class="ml-2 py-1 px-2 rounded-lg bg-blue-500 hover:bg-blue-400 border-b-4 cursor-pointer border-blue-600 hover:border-blue-500 text-white" onClick="confirmActivation('{{ user.key }}');">Activate</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>There are no pending users to activate.</p>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
function confirmActivation(key) {
    if (confirm("Are you sure?")) {
        location.href = "/users/activate/" + key + "/";
    }
}
</script>
{% endblock %}
