{% extends "layout.html" %}
{% block content %}
<a href="/users/"><i class="fas fa-user-plus"></i> View <b>pending</b> users</a>

<div class="mt-4 mb-4">
{% if users %}
    <table class="w-full p-0 m-0">
        <tr>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">Date</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">User name</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">User email</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter">API key</th>
            <th class="text-left p-4 pt-0 border-b-4 border-gray-lighter text-center">Deactivate</th>
        </tr>
        {% for user in users %}
        <tr>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.datetime }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.name }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.email }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter">{{ user.key }}</td>
            <td class="break-words text-left pt-3 p-4 border-b border-gray-lighter text-center"><button class="ml-2 py-1 px-2 rounded-lg bg-red-500 hover:bg-red-400 border-b-4 cursor-pointer border-red-600 hover:border-red-500 text-white" onClick="confirmDeactivation('{{ user.key }}');">Deactivate</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>There are no active users.</p>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
function confirmDeactivation(key) {
    if (confirm("Are you sure?")) {
        location.href = "/users/deactivate/" + key + "/";
    }
}
</script>
{% endblock %}
