{% extends "layout.html" %}
{% block content %}
<a href="/users/"><i class="fas fa-user-plus"></i> View <b>pending</b> users</a>

<div class="mt-4 mb-4">
{% if users %}
    <table class="pd-table-bordered">
        <tr>
            <th>Date</th>
            <th>User name</th>
            <th>User email</th>
            <th>UUID</th>
            <th class="text-center">Deactivate</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.datetime }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.uuid }}</td>
            <td class="text-center"><button class="pd-btn-red" onClick="confirmDeactivation('{{ user.uuid }}');">Deactivate</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>There are no active users.</p>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
function confirmDeactivation(uuid) {
    if (confirm("Are you sure?")) {
        location.href = "/users/deactivate/" + uuid + "/";
    }
}
</script>
{% endblock %}
